body{
    background-color: #f4f4f4;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
    display: flex;
    flex-direction: column;

 }
 
 .dashboard-container{
    width: 85%;
    margin: auto;
    overflow: hidden;

 } 

#main-header{
    background-color: darkblue;
    color: white;
    display:block; 
    width:100%; 
    text-align:center;

 }

 #outer-container{
    display: table;
    width: 100%;

 }

 #sidebar{
    display: table-cell;
    width: 15%;
    vertical-align: top;
    background: black;
    
 }

 #sidebar a:link     { text-decoration: none; }
 #sidebar a:visited  { text-decoration: none; }
 #sidebar a:hover    { text-decoration: none; }
 #sidebar a:active   { text-decoration: none; }

 #main-map{
    display: table-cell;
    width: 85%;
    height: 610px;
    vertical-align: top;
    background: #fff;
    
 }

 #map{
    width: 100%; 
    height: 600px; 
    box-sizing: border-box; 
    overflow: hidden;
 }
 
 #main-content{
    display: table-cell;
    width: 85%;
    height: 610px;
    vertical-align: top;
    background: gainsboro;
 }


 #main-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background: #333;
       
  }
 
  #main-footer p{
     color:#fff;
     text-align:center;
     font-size: 14px;
     
  }